<div class="row g-6">
  <div class="col-md-6">
    <div class="card loginBox">
      <div class="card-body">
        <h2 class="card-title">Login</h2>
        <form class="form login-form">
          <div class="row g-6">
            <div class="col-md-6">
              <label for="email-login">
                <input type="text" class="form-control" placeholder="Email Address" id="email-login"
                  aria-label="Email Address"></label>
            </div>
          </div>
          <div class="row g-6">
            <div class="col-md-6">
              <label for="password-login">
                <input type="password" class="form-control" placeholder="Password" id="password-login"
                  aria-label="Password"></label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button class="btn btn-dark" type="submit">login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <form class="form signup-form">
    <div class="col-md-3">
      <button class="btn btn-dark signUpButton" type="button" data-bs-primary="modal"
        data-bs-target="#staticBackdrop">Signup</button>
    </div>
    {{> signup}}
  </form>
</div>
<script src="./js/login.js"></script>