<div class="row g-6">
    <div class="col-md-6">
        <div class="card loginBox">
            <div class="card-body">
                <h2 class="card-title">New Job:</h2>
                <form class="form newjob-form">
                    <div class="form-group">
                        <label for="job-title">
                        <input class="form-control" type="text" placeholder="Title of Job" aria-label="Title of Job" id="job-title-input" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="company">
                        <input class="form-control" type="text" placeholder="Title of Company" aria-label="Title of Company" id="company-input" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="status">
                        <input class="form-control" type="text" placeholder="Status" aria-label="Status" id="status-input" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="date">
                        <input class="form-control" type="date" id="date2-input" />
                        </label>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-dark btn-form-submit" type="submit">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="./js/newJob.js"></script>