<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">New Job:</h2>
                <form class="form newjob-form">

                    <div class="form-group">
                        <label for="job-title">Title:</label>
                        <input class="form-input" type="text" id="job-title-input" />
                    </div>
                    <div class="form-group">
                        <label for="company">Company:</label>
                        <input class="form-input" type="text" id="company-input" />
                    </div>
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <input class="form-input" type="text" id="status-input" />
                    </div>
                    <div class="form-group">
                        <a class="btn btn-dark btn-form-submit" type="submit">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="./js/newJob.js"></script>