<h1>{{job_title}}</h1>
<h2>{{company}}</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Applied Online</th>
            <td>
                <div class="form-group row">
                    <div class="col-10">
                        <input class="form-control" type="date" id="example-date-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Interview</th>
            <td>
                <div class="form-group row">
                    <div class="col-10">
                        <input class="form-control" type="date" id="example-date-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Offer Recieved</th>
            <td>
                <div class="form-group row">
                    <div class="col-10">
                        <input class="form-control" type="date" id="example-date-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Accepted Offer</th>
            <td>
                <div class="form-group row">
                    <div class="col-10">
                        <input class="form-control" type="date" id="example-date-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Rejected Offer</th>
            <td>
                <div class="form-group row">
                    <div class="col-10">
                        <input class="form-control" type="date" id="example-date-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Rejected</th>
            <td>
                <div class="form-group row">
                    <div class="col-10">
                        <input class="form-control" type="date" id="example-date-input">
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>